<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jonny.wgsb.material"
    android:installLocation="auto">

    <application>
        <provider
            android:name=".db.TimetableProvider"
            android:authorities="com.jonny.wgsb.material.debug.db.TimetableProvider"
            android:exported="false" />
    </application>
</manifest>